/* -------------------------------------------------------------------
	This file is hosted on the hosting of LMR.
	https://lab.littlemissrobot-cdn.com/stylesheet-toggle/stylesheet-toggle-style.css
	for an update: contact @vdswouter
------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

#stylesheet-toggle{
	min-width: 200px;
	box-shadow: 0 0 4rem 0 rgba(#222222, 0.1);
	background: #ffffff;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99999;
	padding: 1rem;
	font-family: 'PT Sans', sans-serif;

	*:focus,
	*:hover,
	*:active{
		outline: none;
	}

	h2{
		margin: 0;
		cursor: move;
		padding: 0;
		color: #2B333C;
		font-size: 12px;
		letter-spacing: 3px;
		text-transform: uppercase;
		border: none;
	}

	.a-button{
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		margin: 0;
		font-size: 1rem;
		transition: all .1s ease-in-out;
		padding: 1em 1.2em;
		border: none;
		color: #2b333c;
		background: #fff;
		box-shadow: 0 0 4rem 0 rgba(43,51,60,.08);
		position: relative;
		transform-style: preserve-3d;
		transition: transform .22s cubic-bezier(.4,0,.2,1),box-shadow .22s cubic-bezier(.4,0,.2,1);

		&:after{
			content: "";
			display: block;
			position: absolute;
			height: 1em;
			top: auto;
			bottom: -1px;
			right: 0;
			left: 0;
			width: auto;
			z-index: -1;
			background-color: #af88ff;
			background: linear-gradient(-90deg,#af88ff,#62caff);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from',endColorstr='$to',GradientType=1);
			transform: translateZ(-1px);
			transition: all .22s cubic-bezier(.4,0,.2,1);
		}

		&:hover:after{
			transform: translateZ(-20px) scale(1.05,1.1);
			box-shadow: 0.5em 0.5em 1.5em rgba(43,51,60,.15);
		}
	}

	ul{
		padding-left: 0;
	}

	li{
		list-style-type: none;
		cursor: pointer;
		padding: 0 0.5rem 0 2rem;
		display: flex;
		position: relative;
		transition: background-color 1000ms;

		&:before,
		&:after{
			content: '';
			position: absolute;
			border-radius: 50%;
			transition: all 150ms ease-in-out;
			transform: translate(5px, 6px)
		}

		&:before{
			top: 0;
			left: 0;
			width: 12px;
			height: 12px;
			border: 2px solid #62CAFF ;
		}

		&:after{
			top: 3px;
			left: 3px;
			width: 10px;
			height: 10px;
			background-color: #62CAFF;
		}

		&:hover{
			transition-duration: 220ms;
			background: rgba(0,0,0,0.03);
		}

		&.disabled{

			&:before{
				border-color: #FC4497;
			}

			&:after{
				background-color: #FC4497;
				width: 0;
				height: 0;
				left: 8px;
				top: 8px;
			}

			a{
				opacity: 0.3;
			}
		}

		a{
			padding: 0.2rem 0;
			margin-right: 1rem;
			flex-grow: 1;
		}

		span{
			color: #B6BCC3;
			padding: 0.2rem 0;
			transition: color 330ms;

			&:hover{
				color: #636970;
			}
		}
	}
}

